
<div>
	<p>Hello World!!!!</p>
</div>
<table class="t1">
	@{for (int i = 1; i < 10; i++) {
			<tr>
				@{for (int j = 1; j < 10; j++) {
						<td>@(i * j)</td>
						}
				}
			</tr>
		}
	}
</table>

