@{
	Layout = "_Articles.cshtml";
	ViewBag.Massage = "Fish";
}

<div class="col-lg-10">
	<img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Dunkleosteus_BW.jpg/220px-Dunkleosteus_BW.jpg" />
	<img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Dunkleosteus_BW.jpg/220px-Dunkleosteus_BW.jpg" />
	<img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Dunkleosteus_BW.jpg/220px-Dunkleosteus_BW.jpg" />
	<div class="col-lg-6">
		<p>
			Fish do not represent a monophyletic group, and therefore the "evolution of fish" is not studied as a single event.[5]

			Early fish from the fossil record are represented by a group of small, jawless, armored fish known as Ostracoderms. Jawless fish lineages are mostly extinct. An extant clade, the Lampreys may approximate ancient pre-jawed fish. The first jaws are found in Placodermi fossils. The diversity of jawed vertebrates may indicate the evolutionary advantage of a jawed mouth. It is unclear if the advantage of a hinged jaw is greater biting force, improved respiration, or a combination of factors.

			Fish may have evolved from a creature similar to a coral-like Sea squirt, whose larvae resemble primitive fish in important ways. The first ancestors of fish may have kept the larval form into adulthood (as some sea squirts do today), although perhaps the reverse is the case.
		</p>
	</div>
	<div class="col-lg-4">

		<img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Dunkleosteus_BW.jpg/220px-Dunkleosteus_BW.jpg" />
		<img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Dunkleosteus_BW.jpg/220px-Dunkleosteus_BW.jpg" />
	</div>
	<div class="col-lg-10">
		<p>
			The term "fish" most precisely describes any non-tetrapod craniate (i.e. an animal with a skull and in most cases a backbone) that has gills throughout life and whose limbs, if any, are in the shape of fins.[12] Unlike groupings such as birds or mammals, fish are not a single clade but a paraphyletic collection of taxa, including hagfishes, lampreys, sharks and rays, ray-finned fish, coelacanths, and lungfish.[13][14] Indeed, lungfish and coelacanths are closer relatives of tetrapods (such as mammals, birds, amphibians, etc.) than of other fish such as ray-finned fish or sharks, so the last common ancestor of all fish is also an ancestor to tetrapods. As paraphyletic groups are no longer recognised in modern systematic biology, the use of the term "fish" as a biological group must be avoided.

			Many types of aquatic animals commonly referred to as "fish" are not fish in the sense given above; examples include shellfish, cuttlefish, starfish, crayfish and jellyfish. In earlier times, even biologists did not make a distinction – sixteenth century natural historians classified also seals, whales, amphibians, crocodiles, even hippopotamuses, as well as a host of aquatic invertebrates, as fish.[15] However, according the definition above, all mammals, including cetaceans like whales and dolphins, are not fish. In some contexts, especially in aquaculture, the true fish are referred to as finfish (or fin fish) to distinguish them from these other animals.

			A typical fish is ectothermic, has a streamlined body for rapid swimming, extracts oxygen from water using gills or uses an accessory breathing organ to breathe atmospheric oxygen, has two sets of paired fins, usually one or two (rarely three) dorsal fins, an anal fin, and a tail fin, has jaws, has skin that is usually covered with scales, and lays eggs.

			Each criterion has exceptions. Tuna, swordfish, and some species of sharks show some warm-blooded adaptations—they can heat their bodies significantly above ambient water temperature.[13] Streamlining and swimming performance varies from fish such as tuna, salmon, and jacks that can cover 10–20 body-lengths per second to species such as eels and rays that swim no more than 0.5 body-lengths per second.[13] Many groups of freshwater fish extract oxygen from the air as well as from the water using a variety of different structures. Lungfish have paired lungs similar to those of tetrapods, gouramis have a structure called the labyrinth organ that performs a similar function, while many catfish, such as Corydoras extract oxygen via the intestine or stomach.[16] Body shape and the arrangement of the fins is highly variable, covering such seemingly un-fishlike forms as seahorses, pufferfish, anglerfish, and gulpers. Similarly, the surface of the skin may be naked (as in moray eels), or covered with scales of a variety of different types usually defined as placoid (typical of sharks and rays), cosmoid (fossil lungfish and coelacanths), ganoid (various fossil fish but also living gars and bichirs), cycloid, and ctenoid (these last two are found on most bony fish).[17] There are even fish that live mostly on land. Mudskippers feed and interact with one another on mudflats and go underwater to hide in their burrows.[18] The catfish Phreatobius cisternarum lives in underground, phreatic habitats, and a relative lives in waterlogged leaf litter.[19][20]

			Fish range in size from the huge 16-metre (52 ft) whale shark to the tiny 8-millimetre (0.3 in) stout infantfish.

			Fish species diversity is roughly divided equally between marine (oceanic) and freshwater ecosystems. Coral reefs in the Indo-Pacific constitute the center of diversity for marine fishes, whereas continental freshwater fishes are most diverse in large river basins of tropical rainforests, especially the Amazon, Congo, and Mekong basins. More than 5,600 fish species inhabit Neotropical freshwaters alone, such that Neotropical fishes represent about 10% of all vertebrate species on the Earth. Exceptionally rich sites in the Amazon basin, such as Cantão State Park, can contain more freshwater fish 
		</p>
	</div>
</div>
