@{
	ViewBag.Title = "Add Book";
}

<h1>Add a new Book</h1>
<script>
	function addbook(){

	}
</script>
<div class="input-group">
	<table class="table-condensed">
		<tr>
			<td class="text-left">Title: </td>
			<td><input id="tInput" class="input-sm" type="text" /></td>
		</tr>
		<tr>
			<td class="text-left">Autor: </td>
			<td><input id="aInput" class="input-sm" type="text" /></td>
		</tr>
	</table>
	<input class="btn" type="button" value="Submit" onclick="addBook()"/>
</div>
